.many-small-text{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 26px;
    color: #4F4F4F;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
    width: 70%;
}
.small_dark_text{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 28px;
    color: #4F4F4F;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}
.bolt_lager_text{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 40px;
    color: #FFF1DC;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}

.many-small-lagger-text{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 28px;
    color: #FFF1DC;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}

.bold-text{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 58px;
    letter-spacing: 1.8px;
    word-spacing: 1.6px;
    color: #4F4F4F;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}
.page-title .blue_page_title{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 42px;
    
    color: #4F4F4F;

    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;

}
.hello_substr_text{
    
    margin-top: 5vh;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 28px;
    color: #4F4F4F;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}
.hello_page_text{
    padding-left: 10%;
    margin: 40;
    flex-direction: column;
}

.blue_page_title{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 32px;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
    color: #3A98B9;
}

.product_title{
        
}