.left_freze{
    position: fixed;
    top: 0;
    opacity: 0;
    width: 0;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.left_freze._visible{
    opacity: 1;
    width: fit-content;
}

.freez_button{
    margin: 5vh;
}

.freez_bar_button{
    height: 5vh;
    width: 5vh;
    border: #4f4f4f 2px solid;
    background-color: #FFFFFF;
}

.freez_bar_buttons{
    height: 15%; 
    padding-top: 30%;
}

