
.bold_title_fond{
    
}

.flex_item{
    /* border: 1px black solid; */
    flex: 1;
}
.flex_box{
    /* border: 1px black solid; */
    display: flex;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.button_dark{
    border: 0;
    background-color: #3A98B9;
}

.main-s{    
    flex-direction: column;
    align-content: stretch;
}

.main-header{
    flex-direction: row;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    height: 8vh;
    background-color: white;
    padding-bottom: 3vh;
}

body{
    background-color: #FFF1DC;
    background-image: url('../image.src/back_ground.jpg');
    background-size: 100%;  
    background-clip: border-box ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.main_footer{
    padding-top: 2vh;
    flex-direction: row;
    margin-top: 30vh;
    width: 100%;
    background-color: #3A98B9;
    height: 30%;
}


.catalog_button_div{
    width: fit-content; 
    height: fit-content;
    display: flex;
    
    background-color: #3A98B9;
}




.princip_board{
    padding-left: 20%;
    padding-right: 10%;
    margin-top: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.pod_parag{
    align-self: center;
    margin-bottom: 5vh;
    width: 49%;
    display: flex;
    flex-direction: column;
}

.for_way_div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-left: 40;
}

.insta_page{
    /* margin-left: 100px; */
    margin-top: 30vh;
    flex-direction: column;
    height: 30vh;
    background-color: #FFF1DC;
    justify-content: baseline;
    padding-left: 30vh;
    padding-right: 16vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}



.fast_find{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.fast_find_img{
    display: flex;
    height: 30vh;   
    width: 33.3%;
    padding: 1vh;
    justify-content: end;
    background-color: #4F4F4F;
    transition:all 0.8s ease 0s
}

.fast_find_img:focus{
    background-size: 110%;
}
.fast_find_img._1{
    background-image: url('../image.src/fast_find_toy.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.fast_find_img._2{
    background-image: url('../image.src/fast_find_cosmetic.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.fast_find_img._3{
    background-image: url('../image.src/fast_find_acsec.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.fast_find_img._4{
    background-image: url('../image.src/fast_find_things.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.fast_find_img._5{
    background-image: url('../image.src/fast_find_prez.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.fast_find_img._6{
    background-image: url('../image.src/fast_find_gigien.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


.for_way_parag{
    height: 160vh;
    align-items: stretch;
    margin-top: 30vh;
    padding-left: 10%;
    padding-right: 10%;50vh
    justify-items: center;
    align-content: center;
    align-items: center;
}

.for_way_pod_parag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
    margin-bottom: 10vh;
    padding-left: 20vh;
}

.portret_block{
    flex-direction: row;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
}

.way_portret{
    height: 80vh;
    padding-left: 50;
}

.find_parag{
    background-color: #4F4F4F;
    margin-top: 20vh;
    flex-direction: column;
    padding-left: 18vh;
    padding-right: 18vh;
    height: 50vh;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.left_text_board{
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30;
}


.footer_table_categ{
    display: flex;
    flex-direction: column;
}



.mode_marge_test{
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 30;
}

.find_parag_input{
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    align-content: space-around;
    border: 1px black solid;
    justify-content: center;
}



.button_bold{
    border: 0;
    background-color: #3A98B9;
    height: 35%;
    width: 45%;
    color: #EEEEEE;

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    letter-spacing: 1.8px;
    word-spacing: 1.6px;

    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    padding: 4;
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    .pod_parag{
        width: 100%;
    }

    .princip_board{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .for_way_parag{
        flex-direction: column;
        height: auto;
    }

    .fast_find_img{
        width: 50%;
    }

    .hello_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .find_parag_input{
        flex-direction: column;
        height: max-content;
    }

    .find_parag_input_button{
        width: 100%;
        height: 100%;
    }

    .catalog_button_div{
        width:50%;
        align-self: center;
        margin-top: 4vh;
        height: 8vh;
        background-color: #3A98B9;
        
    }
    
    
}



.button_lager{
    background-color: white;
    border: 0;
    margin: 5;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    color: #4F4F4F;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}

.find_parag_input_button{
    border: 0;
    background-color: #3A98B9;
    padding: 10;
    margin: 5;
}

.footer_categ_div{
    padding-left: 5vh;
    flex-direction: column ;
    justify-content: space-evenly;
}
.footer_for_way_div{
    flex-direction: column ;
    justify-content: space-evenly;
}
.footer_contact_div{
    flex-direction: column ;
    justify-content: space-evenly;
}

