<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../stile/stile.css">
        <link rel="stylesheet" href="../../stile/catalog.style.css">
        <link rel="stylesheet" href="../../stile/fond.css">
        <link rel="" href="index.js">
    </head>
    <header>
        <div class="main-header flex_box">
            <img>   
            <a href="" class=" bold-text">Star on Beach</a>
        </div> 
        <div>
            
        </div>
    </header>
    <body>
        <main class="main-s " >
            <section class = 'catalog_bar blue_page_title'>
                <article class = 'flex_box '>
                    <form action="" target="_blank" class = 'flex_box catalog_bar_section'>
                        <a class = "flex-item catalog_secrion_title">Игрушки </a>  
                        <img class="flex-item iconca_categ" src="" >
                    </form>
                </article>
                <article class = 'flex_box '>
                    <form action="" target="_blank" class = 'flex_box catalog_bar_section'>
                        <a class = "flex-item catalog_secrion_title">Интимная косметика</a>  
                        <img class="flex-item iconca_categ" src="" >
                    </form>
                </article>
                <article class = 'flex_box '>
                    <form action="" target="_blank" class = 'flex_box catalog_bar_section'>
                        <a class = "flex-item catalog_secrion_title">Аксессуары</a>  
                        <img class="flex-item iconca_categ" src="" >
                    </form>
                </article>
                <article class = 'flex_box '>
                    <form action="" target="_blank" class = 'flex_box catalog_bar_section'>
                        <a class = "flex-item catalog_secrion_title">Портупеи и бельё </a>  
                        <img class="flex-item iconca_categ" src="" >
                    </form>
                </article>
                <article class = 'flex_box '>
                    <form action="" target="_blank" class = 'flex_box catalog_bar_section'>
                        <a class = "flex-item catalog_secrion_title">Призервативы </a>  
                        <img class="flex-item iconca_categ" src="" >
                    </form>
                </article>
                <article class = 'flex_box '>
                    <form action="" target="_blank" class = 'flex_box catalog_bar_section'>
                        <a class = "flex-item catalog_secrion_title">Гигиена</a>  
                        <img class="flex-item iconca_categ" src="" >
                    </form>
                </article>
            </section>
            
            <section class = "catalog">
                <item_list>
                </item_list>
                <script type = "module">
                      import ItemList from "../product_list/index.js";

                      window.customElements.define('item_list', ItemList);
                </script>
            </section>
        </main>
        <footer class="flex_item main_footer" >
            <footer class="flex_box main_footer">
                <h1 class = "bolt_lager_text">Star on Beach</h1>
                <div class="flex_item" style="display: flex; flex-direction: column; margin-left: 10vh;">
                    <h3 class = 'many-small-lagger-text'>Каталог</h3>
                    <div class="flex-item flex_box many-small-lagger-text footer_categ_div">
                        <script src="index.js" >
                            draf_table_footer(["Игрушки","Интимная косметика","Акссесуары","Портупея и бельё","Презирвативы","Гигиена"],"footer_categ_div")
                        </script>
                    </div>  
                </div>
                <div class="flex_item" style="display: flex; flex-direction: column;">
                    <h3 class = 'many-small-lagger-text'>О нас</h3>
                    <div class="flex-item flex_box many-small-lagger-text footer_for_way_div">
                        <script src="index.js" >
                        draf_table_footer(['О нас','Блог',"Доставка и оплата","Бренды","Вопросы Сексологу"],"footer_for_way_div");
                        </script>
                    </div>  
                </div>  
                <div class="flex_item" style="display: flex; flex-direction: column;">
                    <h3 class = 'many-small-lagger-text'>Контакты</h3>
                    <div class="flex-item flex_box many-small-lagger-text footer_contact_div">
                        <script src="index.js">
                            console.log('Contact')
                            draf_table_footer(["г.Новосибсрк ул.Блюхера 42/2","11:00-21:00"],"footer_contact_div")
                        </script>
                    </div>  
                </div>     
        </footer>

        </footer>
    </body>
</html> 